.banner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
}

.box-banner2 {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    background-image: url("/Users/ony/Documents/temp/kasa/public/assets/banner_propos.png");
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1239px) {
    .banner2 {
        width: unset;
        margin: 0 20px;
    }
}

@media screen and (max-width: 425px) {
    .banner2 {
        max-width: 335px;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .box-banner2 {
        height: 110px;
        border-radius: 10px;
    }
}