body {
    padding-top: 20px;
    margin: 0px;
}

h1, h2, span, p, label, a {
    font-family: 'Montserrat', sans-serif;
}

.welcome {

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    background: #F7F7F7;
    border-radius: 25px;
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 40px
}

@media screen and (max-width: 425px) {
    .gallery{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background: none;
    }
}