.container_host {
    display: flex;
    flex-direction: row;
    .name_host {
        width: 120px;
        display: flex;
        align-items: center;
        text-align: end;

        span {
            font-size: 24px;
            color: #FF6060;
        }
    }

    .picture_host {
        margin-left: 10px;
        
        .profil {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
}